<header>
  <h1>Events Finder</h1>
</header>

<section id="filter">
  <form [formGroup]="eventForm" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="city">Filter by City</label>
      <input type="text" placeholder="Enter a city" formControlName="city" />
    </div>

    <div class="form-group">
      <label for="city">Filter by Price</label>
      <input
        type="number"
        placeholder="Enter a price"
        formControlName="price"
      />
    </div>

    <button type="submit">Search</button>
  </form>
</section>

<section id="events">
  <p>{{ events.length }} results found!</p>
  <div *ngFor="let event of events">
    <main>
      <header>
        <h3>{{ event.artist }}</h3>
        <span>live @</span>
        <p>
          <b>{{ event.city }}</b>
        </p>
      </header>

      <footer>
        <b>Price: ${{ event.price }}</b>
      </footer>
    </main>
  </div>
</section>
